<!--
  <div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
  </div>

  <div><a [routerLink]="['/dashboard']">Dashboard</a></div>

  <router-outlet></router-outlet>

  <button (click)="addBrand()">Add New Brand</button>

  <button [track]="'One Button'">One</button>
  <button [track]="'Two Button'">Two</button>
  <button [track]="'Three Button'">Three</button>
-->

<div class="ui-g ui-g-nopad" id="header">
  <div class="ui-g-10">
    <img src="assets/img/ecommerce-svgrepo-com.svg" id="top-logo" />
  </div>
  <div class="ui-g-2" id="notifications"></div>
</div>

<div class="ui-g ui-g-nopad">
  <div class="ui-g-2 ui-g-nopad" id="sidegutter">
    <div id="sidenav"><p-menu #bigMenu [model]="menuItems"></p-menu></div>
  </div>

  <div class="ui-g-2 ui-g-nopad" id="minigutter">
    <div id="sidenav-mini">
      <p-menu #smallMenu [model]="miniMenuItems"></p-menu>
    </div>
  </div>

  <!--
    <div class="ui black big launch right attached fixed button">
      <i class="content icon"></i>
      <span class="text">Menu</span>
    </div>
  -->

  <div id="content-body" class="ui-g-10 ui-g-nopad">
    <router-outlet></router-outlet>
  </div>
</div>
